{% extends "map/views-manager.html" %}

{% block views-manager-child %}

<p>Points Management</p>
<div id="map_canvas" style="width:800px; height:500px"></div>
<div id="point-editing-zone"></div>

<div id="editingPointHtmlData" style="display: none;">{{editingPointHtmlData}}</div>
<div id="addingPointHtmlData" style="display: none;">{{addingPointHtmlData}}</div>

<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false">
</script>

<script type="text/javascript">
	var pointEditor = {
		showEditor: function (pointId) {
			var point = null;
			pointsData.forEach(function(entry) {
				if (entry.id == pointId)
					point = entry;
			});

			if (point == null)
				return;

			$( "div#point-editing-zone" ).html($( "div#editingPointHtmlData" ).html());

			$( "div#point-editing-zone" ).find( "input#id_latitude" ).val(point.latitude);
			$( "div#point-editing-zone" ).find( "input#id_longitude" ).val(point.longitude);
			$( "div#point-editing-zone" ).find( "input#id_description" ).val(point.description);
			$( "div#point-editing-zone" ).find( "a#delete-point-button" ).attr('href', '/map/delete-point/' + point.id +'/');

		},
		showAddingForm: function (latitude, longitude) {
			$( "div#point-editing-zone" ).html($( "div#addingPointHtmlData" ).html());
			$( "div#point-editing-zone" ).find( "input#id_latitude" ).val(latitude);
			$( "div#point-editing-zone" ).find( "input#id_longitude" ).val(longitude);
		}
	}
</script>

<script type="text/javascript">
	// To be filled on server side
	var pointsData = [] ;

	function loadPointsData(callback) {
		$.getJSON( "/data/points-by-user/{{userName}}/", function( data ) {
			pointsData = data;
			callback();
		});

	}

	function buildPoints(map) {
		pointsData.forEach(function(entry) {
			var id = entry.id;
			var lng = entry.longitude;
			var lat = entry.latitude;
			var title = entry.description;
			var owner = entry.owner;
			var creationDate = entry.creationDate;

			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(lat, lng),
				map: map,
				title: owner + '\n' + creationDate + '\n' + title
			});
			marker.mapler_id = id;

			google.maps.event.addListener(marker, 'click', function() {
				pointEditor.showEditor(marker.mapler_id);
			});
    		
		});	  
	}

	function initialize() {
		var mapOptions = {
			center: new google.maps.LatLng(50.43, 30.56),
			zoom: 11,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"),
		mapOptions);

		google.maps.event.addListener(map, "click", function (event) {
		    var latitude = event.latLng.lat();
		    var longitude = event.latLng.lng();

		    pointEditor.showAddingForm(latitude, longitude);
		});

		loadPointsData(function() {
			buildPoints(map);
		});
		
	}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>


{% endblock views-manager-child %}