{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Mapler</title>

	<link rel="stylesheet" href="{% static "bootstrap-3.1.1-dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "map/css/style.css" %}">
    <link rel="stylesheet" href="{% static "map/css/bootply.css" %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

</head>
<body>
	<div id="header" class="navbar navbar-default navbar-fixed-top">
	    <div class="navbar-header">

	    	<!-- What the button? -->
	        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
	            <i class="icon-reorder"></i>
	        </button>

	        <a class="navbar-brand" href="/">Mapler</a>
	    </div>
	    <nav class="collapse navbar-collapse">
	        <ul class="nav navbar-nav pull-right">
	            {% include "map/user-auth-block.html" %}
	        </ul>
	    </nav>
	</div>

	<div id="wrapper">
		{% block master-child %}
			Default content here...
		{% endblock master-child %}
	</div>

	<!-- Scripts at the and to make the loading faster -->
	<!-- Bootstrap controls -->
	<script src="{% static "bootstrap-3.1.1-dist/js/bootstrap.min.js" %}"></script>

</body>
</html>