{% extends "map/views-manager.html" %}

{% block views-manager-child %}

<p>Map Overview</p>
<div id="map_canvas" style="width:800px; height:500px"></div>
<div id="point-editing-zone"></div>

<div id="previewPointHtmlData" style="display: none;">{{previewPointHtmlData}}</div>

<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false">
</script>

<script type="text/javascript">
	// To be filled on server side
	var pointsData = [] ;

	var pointEditor = {
		showInfo: function (pointId) {
			var point = null;
			pointsData.forEach(function(entry) {
				if (entry.id == pointId)
					point = entry;
			});

			if (point == null)
				return;

			$( "div#point-editing-zone" ).html($( "div#previewPointHtmlData" ).html());

			$( "div#point-editing-zone" ).find( "#id_owner" ).html(point.owner);
			$( "div#point-editing-zone" ).find( "#id_creationDate" ).html(point.creationDate);
			$( "div#point-editing-zone" ).find( "#id_latitude" ).html(point.latitude);
			$( "div#point-editing-zone" ).find( "#id_longitude" ).html(point.longitude);
			$( "div#point-editing-zone" ).find( "#id_description" ).html(point.description);

		},
		clear: function() {
			$( "div#point-editing-zone" ).html('');
		}
	}

	function loadPointsData(callback) {
		$.getJSON("/data/points/", function( data ) {
			pointsData = data;
			callback();
		});

	}

	function getPointOnClickCallback(pointId) {
		pointEditor.showInfo(pointId);
	}

	function getMapOnClickCallback(latitude, longitude) {
		pointEditor.clear();
	}

</script>

<script type="text/javascript" src="/static/map/script/map_common.js"></script>

{% endblock views-manager-child %}
