<div class="point">
	<h3>Point Info</h3>
		
	<table style="width:300px">
		<tr>
			<td>Description: </td>
			<td id="id_description"></td>
		</tr>
		<tr>
			<td>Owner: </td>
			<td id="id_owner"></td>
		</tr>
		<tr>
			<td>Group: </td>
			<td id="id_owningGroup"></td>
		</tr>
		<tr>
			<td>Added: </td>
			<td id="id_creationDate"></td>
		</tr>
		<tr>
			<td>Latitude: </td>
			<td id="id_latitude"></td>
		</tr>
		<tr>
			<td>Longitude: </td>
			<td id="id_longitude"></td>
		</tr>
	</table>

</div>