
<h3>Attachments</h3>
<p style="display: none; color: red;" id="attachment-upload-indicator">Uploading...</p>

<table id="point_attachments_templates" style="display: none;">
	<tbody>
		<tr id="editable_template">
			<td><a href='%file_link%' target="_blank">%file_name%</a></td>
			<td>%owner%</td>
			<td>%upload_date%</td>
			<td><a href='%delete_link%' ident="delLink">Delete</a></td>
		</tr>
		<tr id="readonly_template">
			<td><a href='%file_link%' target="_blank">%file_name%</a></td>
			<td>%owner%</td>
			<td>%upload_date%</td>
		</tr>
	</tbody>
</table>

<table id="point_attachments" class="table table-striped table-bordered table-condensed">
	<tbody>
	</tbody>
</table>

<iframe id="uploadTrg" name="uploadTrg" height="0" width="0" frameborder="0" scrolling="yes"></iframe>

<form id="pointAttachementsForm" action="/file/upload/" enctype="multipart/form-data" method="post"target="uploadTrg" >{% csrf_token %}
	<input type="hidden" name="pointId" value="-1">
	<input type="hidden" name="redirectTarget" value="">
	<input type="hidden" name="uploadIdentifier" value="">
	<input type="file" name="attachment" id="attachment" />
	<input type="submit" value="Upload" />
</form>

<script type="text/javascript">
var pointAttacmentsManager = {
	_pointId: '',
	_isEditable: false,
	_redirectTarget: '',
	_data: [],

	initialize: function(pointId, isEditable, redirectTarget) {
		pointAttacmentsManager._pointId = pointId;
		pointAttacmentsManager._isEditable = isEditable;
		pointAttacmentsManager._redirectTarget = redirectTarget;

		if (pointAttacmentsManager._isEditable) {
			$("#pointAttachementsForm").show();
		} else {
			$("#pointAttachementsForm").hide();
		}

		$("#pointAttachementsForm").find("input[name='attachment']").val('');
		$("#pointAttachementsForm").find("input[name='pointId']").val(pointAttacmentsManager._pointId);
		$("#pointAttachementsForm").find("input[name='redirectTarget']").val(pointAttacmentsManager._redirectTarget);
		$("#pointAttachementsForm").find("input[name='uploadIdentifier']").val(Math.random());
		pointAttacmentsManager._loadData(pointAttacmentsManager._buildGuiItems);
	},

	_loadData: function(callback) {
		$.getJSON( "/data/point-attachments/"+pointAttacmentsManager._pointId+"/", function( data ) {
			pointAttacmentsManager._data = data;
			callback();
		});
	},

	_buildGuiItems: function() {
		var container = $("#point_attachments tbody");
		var recordTemplate = null;

		if (pointAttacmentsManager._isEditable) {
			recordTemplate = $("#point_attachments_templates tbody #editable_template").html();
		} else {
			recordTemplate = $("#point_attachments_templates tbody #readonly_template").html();
		}
		
		var newContent = "";
		
		container.html("");

		$.each( pointAttacmentsManager._data, function( index, value ) {
			newContent += "<tr>" + pointAttacmentsManager._fillAttachmentData(recordTemplate, value) + "</tr>";
		});

		container.html(newContent);

		// custom link handler here
		container.find("a[ident='delLink']").on("click", pointAttacmentsManager._onDelLinkClicked);
	},

	_reinitialize: function(){
		pointAttacmentsManager.initialize(pointAttacmentsManager._pointId, pointAttacmentsManager._isEditable, pointAttacmentsManager._redirectTarget);
	},

	_onDelLinkClicked: function(event) {
		var request = $(event.target).attr('href');
		$.ajax({
			url: request,
			success: function(){
				pointAttacmentsManager._reinitialize();
			}
		});
		event.preventDefault();
	},

	onSubmit: function() {
		$("#attachment-upload-indicator").show();
		setTimeout(pointAttacmentsManager._updateUploadStatus, 1000);

	},

	_updateUploadStatus: function() {
		var ident = $("#pointAttachementsForm").find("input[name='uploadIdentifier']").val();
		$.get( "/file/checkUploaded/"+ident+"/", function( data ) {
			if (data == 'true') {
				$("#attachment-upload-indicator").hide();
				pointAttacmentsManager._reinitialize();
			} else {
				//sleep
				setTimeout(pointAttacmentsManager._updateUploadStatus, 1000);
			}
		});
	},

	_fillAttachmentData: function(template, attchData) {
		return template
		.replace('%file_name%', attchData.fileName)
		.replace('%upload_date%', attchData.creationDate)
		.replace('%owner%', attchData.owner)
		.replace('%file_link%', '/static/media/' + attchData.id + '_' + attchData.fileName)
		.replace('%delete_link%', '/file/delete/' + attchData.id + '/');
	}
}

$( "#pointAttachementsForm" ).submit(function( event ) {
	pointAttacmentsManager.onSubmit();
	// event.preventDefault();
});

</script>